---
layout: default
---

<!-- <div class="article-list">
	{% for post in site.posts %}
	<div class="list">
		<img src="{% if post.pic %}{{ site.baseurl }}/img/{{ post.pic }}.png{% else %}{{ "img/notepad.png" | prepend: site.baseurl }}{% endif %}">
		<h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
		<span class="date">{{ post.date | date: "%b %-d,%Y" }}</span>
		<p class="summary">{{ post.summary }}</p>
	</div>
	{% endfor %}
</div>
<div class="pagenext">
	<a href="#">下一页</a>
</div>
<div style="clear:both;"></div> -->
<div class="content">
    <div class="operation">
        <button class="bg-warn btn"><i class="icon-tasks"></i> 分类</button>
        <button class="bg-success btn"><i class="icon-user"></i> 登陆</button>
    </div>
    <table>
        <thead>
            <tr>
                <td class="first-col">主题</td>
                <td class="second-col">分类</td>
                <td class="third-col">发表时间</td>
                <td class="fourth-col">浏览</td>
            </tr>
        </thead>
        <tbody>
        {% for post in site.posts %}
            <tr>
                <td><i class="icon-file"></i> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
                <td><a href="#"><span class="info info-success"> {{ post.category }}</span></a></td>
                <td><i class="icon-calendar"></i> {{ post.date | date: "%b %-d,%Y" }}</td>
                <td>-</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>