<!-- <div class="navbar">
	<a href="/"><img src="{{ "/img/brush.png" | prepend: site.baseurl }}"></a>
	<ul class="nav">
		<li><a href="{{ "/i.html" | prepend: site.baseurl }}">关于我</a></li>
		<li><a href="#">列表</a></li>
		<li><a href="{{ "/index.html" | prepend: site.baseurl }}">借光凿字</a></li>
	</ul>
</div> -->
<div class="header">
    <h1><a href="/"><img src="./static/img/brush.png">借<span class="txt-warn">光</span>凿<span class="txt-success">字</span></a></h1>
    <ul>
        <li><a href="#">关于我</a></li>
        <li><a href="#">私密文章</a></li>
        <li><a href="/">首页</a></li>
    </ul>
</div>