
.wrapper h1{
    display: inline-block;
    font-weight: normal;
    font-size: 60px;
}
.header h1 a{
    color: #34495e;
}
.wrapper img{
    width: 60px;
    height: 60px;
    margin-bottom: -5px;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
.wrapper .header{
    border-bottom: 1px solid #ccc;
}
.wrapper ul{
    display: inline-block;
    float: right;
    margin: 60px 20px 0 0;
    font-size: 16px;
}
.wrapper ul li{
    display: inline-block;
    float: right;
    margin-left: 20px;
    padding-bottom: 5px;
}
.wrapper ul li:hover{
    border-bottom: 2px solid #ccc;
}
.content .operation{
    margin: 20px 0;
}
.content table{
    width: 100%;
    font-size: 15px;
    border-color: #ccc #fff #ccc ;
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
}
.content table tr{
    border-style: solid none solid none;
}
.content table td{
    border-color: rgb(221, 221, 221) #fff rgb(221, 221, 221);
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
    overflow: hidden;
}
.content table thead{
    background-color: #DDDDDD;
}
.content table .first-col{
    width: 360px;
}
.content table .second-col{
    width: 220px;
}
.content table .third-col{
    width: 220px;
}
.content table .fourth-col{
    width: 100px;
}
.content .info {
    margin-right: 5px;
}
.footer{
    margin: 20px 0;
}
.footer p{
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}
.content .article{
    margin: 20px 0;
}

.content .article .title{
    font-size: 20px;
}
.content .article .art-info{
    font-size: 14px;
}
.content .art-ct{
    margin: 20px 0;
    width: 100%;
    background-color: #F4FAF4;
    padding: 18px 10px;
    line-height: 30px;
}
.content .art-ct p{
    font-size: 15px;
    text-indent: 2em;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.content .art-ct img{
    display: block;
    margin: 10px auto;
}
blockquote{
    background-color: #fff;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.content .art-ct h1{
    font-size: 40px;
}
.content .art-ct h2{
    font-size: 32px;
}
.content .art-ct h3{
    font-size: 28px;
}
.content .art-ct h4{
    font-size: 24px;
}

