<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="wrapper">
{% include header.html %}
<div class="content">
    <div class="article">
        <p class="title"><i class="icon-align-right"></i>&nbsp;{{ page.title }}</p>
        <p class="art-info">分类：<a href="#"><span class="info info-success">{{ page.category }}</span></a>时间: <span class="info info-warn">{{ page.date | date: "%b %-d,%Y" }}</span></p>
        <div class="art-ct">
            {{ content  }}
        </div>
    </div>
</div>
{% include footer.html %}
</div>
</body>
</html>