---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <hr>
  <p>
    <em>如果您觉得文章对您有用能够解决您的问题，欢迎您通过扫码进行打赏支持，谢谢！</em>
  </p>
  <p style="display: flex; justify-content: center;">
    <img src="/public/post/img/alipay.jpg" style="width: 200px; height: 210px;"/>
    <img src="/public/post/img/wechatpay.jpg" style="width: 200px; height: 210px;"/>
  </p>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<script type="text/javascript" src="/public/js/prism.js"></script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
